<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <button class="btn btn-outline-secondary me-auto d-lg-none" (click)="toggleSidebar.emit()">
    ☰
  </button>

  <div class="dropdown ms-auto">
    <img [src]="profileImgageUrl" alt="Profile" width="40" height="40" class="rounded-circle dropdown-toggle" data-bs-toggle="dropdown" />
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" (click)="goToViewProfile()"><app-icon [name]="'eye'"></app-icon> View Profile</a></li>
      <li><a class="dropdown-item" href="javascript:void()"><app-icon></app-icon> Change Password</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="javascript:void()" (click)="logout()"><app-icon [name]="'box-arrow-right'"></app-icon> Logout</a></li>
    </ul>
  </div>
</nav>

