<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employee Details </h5>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">D.O.J </th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>{{employeeDetails.employeeName}}</td>
                    <td>{{employeeDetails.location}}</td>
                    <td>{{employeeDetails.mobileNumber}}</td>
                    <td>{{employeeDetails.emailId}}</td>
                    <td>{{employeeDetails.dateOfJoining}}</td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</div>