<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name"
                                    aria-label="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" 
                                placeholder="Last name" aria-label="Last name">
                            </div>
                        </div>
                        <div >
                            Email Id
                                <input type="text" class="form-control" placeholder="email-Id"
                                    aria-label="First name">
                            </div>
                            <div >
                            Password
                                <input type="text" class="form-control" placeholder="Password"
                                    aria-label="First name">
                            </div>
                              <div >
                            Mobile No.
                                <input type="number" class="form-control" placeholder="Mobile No."
                                    aria-label="First name">
                            </div>
                             <div >
                            country Name
                                <input type="text" class="form-control" placeholder="country"
                                    aria-label="First name">
                            </div>
                            <div >
                            State Name
                                <input type="text" class="form-control" placeholder="state"
                                    aria-label="First name">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>