#style{
max-width: 100px; margin: auto;
} 

.validation-error{
    color: red;
}

.action-btn-group{
    button{
        margin: 1px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
