<div class="container mt-4" *ngIf="newsData">
  <div class="card shadow-sm">
    <img *ngIf="newsData.image" [src]="newsData.image" class="card-img-top" alt="News Image" style="max-height: 400px; object-fit: cover;">
    <div class="card-body">
      <h3 class="card-title text-primary">{{ newsData.title }}</h3>
      <p class="text-muted mb-2">By <strong>{{ newsData.author }}</strong></p>
      <p class="text-muted mb-2">Publish On <strong>{{ newsData.createdAt | date:"medium" }}</strong></p>
      <div [innerHTML]="newsData.description"></div>
    </div>
  </div>
</div>
