<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
             <app-notice [notices]="noticesList"></app-notice>
        </div>
        <div class="col-md-4">
            <app-banners [banners]="bannersList"></app-banners>
        </div>
        <div class="col-md-4">
            <app-advertisement [advertisements]="advertisementsList"></app-advertisement>
        </div>
           <div class="col-md-4">
            <app-stocks [stocks]="stockList" ></app-stocks>
        </div>
    </div>
</div>